<!DOCTYPE html>
<html lang='en' ng-app='shop'>
<head>
  <meta charset="utf-8">
  <title>Shopular</title>
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'>
</head>
<body>
  <h1>Shopular</h1>
  <main ng-controller='ShopController as iCtrl' class='table-striped col-lg-8'>
    <table>
      <tr>
        <th ng-click='iCtrl.sort("name")'>Name</th>
        <th ng-click='iCtrl.sort("price")'>Price</th>
        <th ng-click='iCtrl.sort("quantity")'>Quantity</th>
        <th>Color</th>
      </tr>

      <tr ng-repeat='item in iCtrl.items | orderBy:iCtrl.sortBy'>
        <td>{{item.name}}</td>
        <td>{{iCtrl.itemPrice(item) | currency:"USD $"}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.color}}</td>
        <td ng-show={{item.discount}}><img src='saletag.png'></td>
      </tr>
    </table>
    <form name='addItem'ng-submit='addItem.$valid && iCtrl.addItem(iCtrl.newItem)'novalidate>
    <!--I've created a new item object which now in these input fields i am putting data into that obj-->
    <p ng-show='addItem.name.$touched && !addItem.name.$valid || !addItem.item.$valid && addItem.$submitted'>Item required</p>
    <p ng-show='addItem.price.$touched && !addItem.price.$valid || !addItem.item.$valid && addItem.$submitted'>Price required</p>
    <p ng-show='addItem.quantity.$touched && !addItem.quantity.$valid || !addItem.item.$valid && addItem.$submitted'>Quantity required</p>
    <p ng-show='addItem.color.$touched && !addItem.color.$valid || !addItem.item.$valid && addItem.$submitted'>Color required</p>
    <p ng-show='addItem.discount.$touched && !addItem.discount.$valid || !addItem.item.$valid && addItem.$submitted'>Discount required</p>


    <input type='text' placeholder='Name' name='name' ng-model='iCtrl.newItem.name' required>
    <input type='text' placeholder='Price' name='price' ng-model='iCtrl.newItem.price' required>
    <input type='text' placeholder='Quantity' name='quantity' ng-model='iCtrl.newItem.quantity' required>
    <input type='text' placeholder='Color' name='color' ng-model='iCtrl.newItem.color' required>
    <input type='text' placeholder='Discount' name='discount' ng-model='iCtrl.newItem.discount' required>
    <input type='submit' value='Add item'>
  </form>

</main>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
<script src='/src/js/shop.module.js'></script>
<script src='/src/js/shop.controller.js'></script>
<script src='/src/js/shop.service.js'></script>

<footer>
  <p>Thanks for shopping!</p>
  <footer>

  </body>
  </html>
